@charset 'UTF-8';

.slick-prev
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    

    display: block;

    width: 135px;
    height: 135px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    border-radius: 50%;
    top: 1000px;
    cursor: pointer;

    color: red;
    border: darkblue;
    outline: darkgray;
    background: #C70851;
    z-index: 9999;
}
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 1000px;

    display: block;

    width: 135px;
    height: 135px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: rotate(0, -180deg);

    cursor: pointer;
    border-radius: 50%;

    color: red;
    border: darkblue;
    outline: darkgray;
    background: #C70851;
    z-index: 9999;
}

/* .slick-prev:focus, */
/* .slick-next:focus */
.slick-prev:hover,
.slick-next:hover
{
    outline: black;
    background: #C70851;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 85px;
    line-height: 1.5;
    font-weight: 550;
    padding-left: 23px;
    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: 45px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
    
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: 30px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
  display: inline-block;
  vertical-align: middle;
  margin:  0;
  padding: 0;
  text-align: center;
}
.slick-dots li
{
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 10;
    list-style: none;
    cursor: pointer;
    display: inline-block;
    margin: 0 15px;
    padding: 0;
    bottom: 30px;
    cursor: pointer;

}

.slick-dots li button
{
    border: none;
    background: #C70851;
    color:#C70851;
    cursor: pointer;
    display: block;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    padding: 0;
    color: transparent;
    border: 0;
    outline:  transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    
    outline: #8e717c;
    background-color: #8e717c;
    
    
    
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
   
}

.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}

